* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset */

.test {
    border: 1px dashed black;
    background-color: rgba(0, 0, 255, 0.2);
}

.container {
    max-width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* larghezza colonne */
.col-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
}

.col-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.col-3 {
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}

.col-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.col-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.col-6 {
    flex-basis: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
}

.col-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.col-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.col-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.col-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.col-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.col-12 {
    flex-basis: calc(100% / 12 * 12);
    max-width: calc(100% / 12 * 12);
}

/* offset */
.offset-col-1 {
    margin-left: calc(100% / 12);
}

.offset-col-2 {
    margin-left: calc(100% / 12 * 2);
}

.offset-col-3 {
    margin-left: calc(100% / 12 * 3);
}

.offset-col-4 {
    margin-left: calc(100% / 12 * 4);
}

.offset-col-5 {
    margin-left: calc(100% / 12 * 5);
}

.offset-col-6 {
    margin-left: calc(100% / 12 * 6);
}

.offset-col-7 {
    margin-left: calc(100% / 12 * 7);
}

.offset-col-8 {
    margin-left: calc(100% / 12 * 8);
}

.offset-col-9 {
    margin-left: calc(100% / 12 * 9);
}

.offset-col-10 {
    margin-left: calc(100% / 12 * 10);
}

.offset-col-11 {
    margin-left: calc(100% / 12 * 11);
}


/* align & justify */
.text-center {
    text-align: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-center {
    justify-content: center;
}

.justify-flex-end {
    justify-content: flex-end;
}

/* paddings & margins */
.p20 {
    padding: 20px;
}